/*
	格式
	%header-site{background:url(../../images/public/m-site-icon.png) no-repeat center; background-size: pxChangeRem(35) pxChangeRem(35);}
*/
%white-search{background: url(../../images/icons/white-search.png) no-repeat center;background-size: 16px 16px;}
%red-search{background: url(../../images/icons/red-search.png) no-repeat center;background-size: 16px 16px;}
%arrow-up{background: url(../../images/icons/arrow-up.png) no-repeat center;}
%tel-icon{background: url(../../images/icons/tel-icon.png) no-repeat center; background-size: 100% auto;}
%email-icon{background: url(../../images/icons/email-icon.png) no-repeat center; background-size: 100% auto;}
%wechat-icon{background: url(../../images/icons/wechat-icon.png) no-repeat center; background-size: 100% auto;}
%whatsapp-icon{background: url(../../images/icons/whatsapp-icon.png) no-repeat center; background-size: 100% auto;}