@charset 'utf-8';

/* ----------------------------------------------
	1.0.0 jquery.validate
----------------------------------------------- */
.error{
    color: red;
    font-size: 12px;
}

/* ----------------------------------------------
	1.0.1 main banner
----------------------------------------------- */

.main-banner .owl-dots {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.main-banner .owl-dot {
    display: inline-block;
}
.main-banner .owl-dot>span {
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
    border: 2px solid #F1F1F3;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}
.main-banner .owl-dot.active>span {
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    border: 2px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}

.navbar{
    background: #eb215a;
    .navbar-collapse{
        background: #eb215a;
    }
}

/* ----------------------------------------------
	1.0.2 Home product
----------------------------------------------- */

.main_title {
    font-size: 20px;
    float: left;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.main_title:after {
    border-bottom: 3px solid #e40001;
    content: "";
    display: block;
    margin-bottom: -3px;
    padding: 1px;
}
.heading-part {
    border-bottom: 3px solid #e5e5e5;
    display: inline-block;
    width: 100%;
}
#product-tab {
    position: relative;
}
#product-tab .nav {
    position: absolute;
    right: 55px;
    top: 0;
}
#product-thumbnail .owl-nav {
    top: 38px;
}
#product-tab .owl-nav, .blog .owl-nav {
    right: 10px;
}
#product-thumbnail .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .product-thumb .img-responsive,.product-thumb .img-responsive{
    width: auto;
    object-fit: cover;
    margin: 0 auto;
    background-color: #fff;
}

/* ----------------------------------------------
	2.0.1 About 
----------------------------------------------- */
.about .company-name p{
    font-size: 22px;
}
.about .text-center .brandlogo a {
    display: block;
    text-align: center;
    img{
        height: 100px;
        text-align: center;
        margin: 20px auto;
    }
}
.about .company-intro p{
    font-size: 16px;
    line-height: 1.8em;
}
.about .company-intro .about-text{
    text-indent: 2em;
}

/* ----------------------------------------------
	3.0.1 Product + Category Page 
----------------------------------------------- */

#product-tab .product-thumb {
    margin: 10px 10px;
}
.product-thumb {
    overflow: hidden;
    padding-bottom: 10px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    h6{
        height: 36px;
        overflow: hidden;
        text-align: left;
        padding: 0 10px;
    }
}
.product-thumb:hover {
    border-collapse: #e9e9e9;
    box-shadow: 0 0 2px 2px #f8f8f8
}
.product-thumb .product-lable-img{
    position: absolute;
    width: 44%;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: 1;
}

.image.product-imageblock>a {
    background: #ffffff none repeat scroll 0 0;
    overflow: hidden;
}
.product-thumb .image {
    text-align: center;
    position: relative;
    padding: 10px;
}
.product-thumb .image a {
    display: block;
}
.product-grid .product-thumb .image {
    float: none;
}
.product-thumb .button-group .wishlist, .product-thumb .button-group .quickview, .product-thumb .button-group .compare, .product-thumb .button-group .add-to-cart {
    background: transparent url("../images/sprite.png") no-repeat scroll -13px -246px;
    overflow: hidden;
    height: 36px;
    width: 36px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    transition: all 0.5s ease 0s;
    background-color: #000;
}
.product-thumb .button-group .quickview {
    background-position: -13px -333px;
}
.product-thumb .button-group .compare {
    background-position: -13px -289px;
}
.product-thumb .button-group .add-to-cart {
    background-position: -13px -200px;
}
.product-thumb .button-group .wishlist:hover {
    background-position: -147px -246px;
    background-color: #e40001;
}
.product-thumb .button-group .quickview:hover {
    background-position: -147px -333px;
    background-color: #e40001;
}
.product-thumb .button-group .compare:hover {
    background-position: -147px -289px;
    background-color: #e40001;
}
.product-thumb .button-group .add-to-cart:hover {
    background-position: -147px -200px;
    background-color: #e40001;
}
.product-thumb .button-group a {
    color: #fff;
}

.product-thumb .button-group {
    top: 5px;
    opacity: 0;
    left: -42px;
    position: absolute;
    transition: all 0.6s ease 0s;
}
#product .button-group div{
    float: left;
}
.prodetail.product-thumb .button-group  {
    bottom: 0;
    position: relative;
    display: block;
    opacity: 1;
    left: 0;
}
.prodetail.product-thumb:hover .button-group  {
    left: 0px;

}
.product-thumb:hover .button-group {
    transition: all 0.6s ease 0s;
    opacity: 1;
    left: 6px;
}
.product-thumb .price {
    color: #000;
    display: inline-block;
    font: 700 20px/20px "Josefin+Sans";
    margin-top: 5px;
    vertical-align: middle;
}
.caption.product-detail {
    position: relative;
}
.product-thumb .button-group span {
    display: none;
}
.category-page-wrapper {
    border: 1px solid #e6e6e6;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.product-grid .product-desc {
    display: none;
}
.btn.btn-default.grid-view {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -146px -399px;
}
.btn.btn-default.grid-view.active {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -146px -372px;
}
.product-layout-right .product-list .product-thumb .image, .product-layout-left .product-list .product-thumb .image {
    margin: 0;
}
.product-layout-left, .product-layout-right {
    display: inline-block;
}
.product-list .product-thumb .image {
    background: #f5f5f5 none repeat scroll 0 0;
    float: left;
    margin: 0 20px 0 0;
    width: 32%;
}
.product-list .product-thumb .caption {
    float: left;
    margin: 0 0 0 15 px;
    padding: 0;
    text-align: left;
    width: 65%;
}
.col_3r .product-list .product-thumb .caption, .col_3l .product-list .product-thumb .caption {
    width: 40%;
}
.col_4 .product-list .product-thumb .caption {
    width: 70%;
}
.Specials .product-list .product-thumb .button-group {
    bottom: 75px;
}
.product-list .product-thumb .button-group {
    display: block;
    transition: all 0.6s ease 0s;
    bottom: 0px;
    text-align: left;
}
.product-list .product-desc {
    display: block;
}
.btn.btn-default.list-view {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -180px -399px;
}
.btn.btn-default.list-view.active {
    background: rgba(0, 0, 0, 0) url("../images/sprite.png") no-repeat scroll -180px -372px;
}
.btn.btn-default.list-view, .btn.btn-default.grid-view {
    padding: 12px;
    border: none;
    box-shadow: none;
    outline: none;
    z-index: 0;
    margin: 0 10px 0 0;
}
.control-label {
    float: left;
}
.sort-inner, .limit {
    float: left;
}
.list-grid-wrapper,.page-wrapper ,.sort-wrapper{
    padding: 10px;
}
.sort-inner .form-control, .limit .form-control {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    height: auto;
    padding: 0px;
}
.pagination-nav{
    text-align: center;
}
.pagination-nav a {
    color: #808080;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
    background-color: #f7f7f7;
    &:hover{
        color: #fff;
        background: #e40001;
    }
}
.pagination-nav a.active {
    background: #e40001 none repeat scroll 0 0;
    color: #fff;
}
.pagination-nav a {
    display: inline-block;
    margin: 0 2px;
}
.rating {
    line-height: 1;
    margin: 15px 0 10px;
}
.fa-stack {
    height: 12px;
    line-height: 1;
    width: 10px;
}
.fa-stack-1x, .fa-stack-x {
    font-size: 13px;
}
.fa.fa-star-o.fa-stack-1x, .fa.fa-star.fa-stack-x {
    color: #b2b2b2;
}
.fa.fa-star.fa-stack-1x {
    color: #e40001;
}

.image.product-imageblock>a{
    position:relative;
}

/* =====  detail css  ===== */
.goods-detail .detail-content{
    font-size: 16px;
    line-height: 1.8em;
}
.goods-detail .detail-pic{
    //padding: 0 20px;
    height: auto;
    text-align:center;
}
.goods-detail .detail-pic-one{
    padding: 5px;
    text-align:center;
    border: 1px solid #eee;
    height: 320px;
    overflow: hidden;
    position: relative;
    cursor:pointer;
}
.goods-detail .detail-pic img, .goods-detail .detail-pic video{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.goods-detail .detail-pic-one .detail-pic-one-pic{
    height: 100%;
}

/* =====  left sidebar css  ===== */

.left-special.left-sidebar-widget li {
    display: inline-block;
}
#left-special .product-list .product-thumb .image, #bests-pro .product-list .product-thumb .image, #featu-pro .product-list .product-thumb .image, #new-pro .product-list .product-thumb .image {
    width: auto;
}
.list-group-item {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    overflow: hidden;
    padding: 0px;
}

/* ----------------------------------------------
	3.2.9 Owl nav
----------------------------------------------- */

.owl-nav {
    position: absolute;
    top: -50px;
    width: 100%;
}

.offers .owl-nav {
    position: absolute;
    right: 0px;
    top: 11px;
    width: 100%;
}

.related-pro .owl-nav, .team_grid .owl-nav {
    position: absolute;
    right: 10px;
    top: -55px;
    width: 100%;
}
.owl-nav>div {
    background: rgba(0,0,0,0) url("../images/sprite.png") no-repeat scroll -34px -374px;
    height: 23px;
    width: 17px;
    font-size: 0px;
    position: absolute;
    transition: 0.5s;
}
.owl-nav>div:hover {
    border-color: #e40001;
}
.owl-item .client-avatar>img {
    border-radius: 50%;
    width: auto !important;
}
.owl-nav .owl-prev {
    background-position: -6px -374px;
    opacity: 1;
    right: 33px;
}

.owl-nav .owl-prev:hover {
    background-position: -6px -402px;
    transition: 0.5s;
}
.owl-nav .owl-next {
    left: auto;
    opacity: 1;
    right: 0;
}
.owl-nav .owl-next:hover {
    background-position: -34px -402px;
    transition: 0.5s;
}
.client .owl-dots {
    right: 0;
    position: absolute;
    text-align: center;
	bottom: 15px;
}
.client .owl-dot {
    display: block;
    line-height: 1;
}
.client .owl-dot>span {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}
.client .owl-dot.active>span {
    background: rgba(0, 0, 0, 0.0) none repeat scroll 0 0;
    border: 2px solid #e40001;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    margin: 4px;
    width: 14px;
}

/* ----------------------------------------------
	3.2.13 Shop Page
----------------------------------------------- */

a.thumbnails {
    border: 1px solid #ddd;
    display: block;
}
a.thumbnail {
    border-radius: 0px;
    margin: 10px 5px;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #000;
}

.price .price-tax {
    margin-left: 10px;
}
.related-pro .product-thumb {
    margin: 0 10px 10px;
}


/* ----------------------------------------------
	FOOTER
	4.1 Footer General
----------------------------------------------- */
.footer-top {
    float: left;
    width: 100%;
	border-bottom: 1px solid #666;
}
.footer {
    background: #121212;
}
.footer-title, .footer h6 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.footer-logo {
    float: left;
    padding: 35px 20px 35px 0px;
}
.footer-logo a img {
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.footer-logo a:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}
.footer-desc {
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    padding: 25px 10px 0;
}
.footer-link li {
    display: inline-block;
}
.footer-link li a {
    border-left: 1px solid #808080;
    padding: 0 10px;
    display: inline-block;
    line-height: 1;
}
.footer-block li {
    padding: 5px 0;
    color: #fff;
}
.footer-block a {
    font-size: 16px;
    color: #fff;
}
.footer-block a:hover {
    color: #e40001;
}
.footer .form-group>input {
    width: 100%;
}
.social-icon ul li a {
    border: 2px solid #afafaf;
    border-radius: 50%;
    color: #afafaf;
    display: block;
    font-size: 20px;
    height: 36px;
    padding: 4px 8px;
    width: 36px;
}
.social_icon li {
    display: inline-block;
    height: 36px;
    width: 36px;
    border: 2px solid #afafaf;
    border-radius: 50%;
    color: #afafaf;
    text-align: center;
     padding: 4px;
}
.social_icon ul li i.fa {
    background-color: transparent;
    font-size: 14px;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}
.social_icon ul li a i.fa:hover {
    color: #000;
}
.footer-bottom {
    background: #FFFFFF;
    color: #808080;
}
.copyright-part{
    margin: 6px 0;
}
.payment-icon li {
    display: inline-block;
    font-size: 30px;
    color: #a5a5a5;
}



/* =====  RESPONSIVE CSS START  =====*/

@media (max-width:1199px) {
    .four-col-work .grid-item {
        width: 33.33%;
    }
    .product-list .product-thumb .button-group {
        bottom: 0;
    }
    .product-layout.product-list .image.product-imageblock {
        width: 46%;
    }
    .product-list .product-thumb .caption {
        width: 50%;
    }
    .newsletters input {
        width:280px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .about-title {
        font-size: 40px;
        line-height: 55px;
    }
}

/*----------------------------------*/

@media (max-width:991px) {

    .mega-dropdown-menu .carousel.slide {
        display: none;
    }
    .mega-dropdown-menu{
        padding: 25px 0;
    }
    .bannertext>h2 {
        font-size: 20px;
    }
    .product-list .product-thumb .caption {
        width: 100%;
        margin-top: 20px;
    }

    // .toggle.active .toggle_div::before {
    //     color: #fff;
    //     content: "\f055";
    //     font-family: "FontAwesome";
    //     font-size: 22px;
    //     padding: 0;
    //     position: absolute;
    //     right: 0;
    // }
    // .toggle .toggle_div::before {
    //     color: #fff;
    //     content: "\f056";
    //     font-family: "FontAwesome";
    //     font-size: 22px;
    //     padding: 0;
    //     position: absolute;
    //     right: 0;
    // }
    #product-tab .owl-nav {
        top: -79px;
    }
    #product-tab .nav {
        right: auto;
        top: 47px;
    }
    #product-tab .heading-part {
        margin-bottom: 40px;
    }
    .newsletters input {
        width:210px;
    }
    .newsletters button {
        width:140px;
    }
    .footer-logo, .client-avatar{
        float: none;
    }

    .footer-block ul {
        display: none;
    }
    .footer .form-group>input {
        float: left;
    }
    .footer .form-group .btn {
        float: left;
        margin-left: 15px;
        padding: 10px 20px;
    }
    .footer .form-group>input {
        width: 280px;
    }

    .footer-title {
        cursor: pointer;
        position: relative;
    }
}

/*-----------------------------------*/

@media (max-width: 767px) {
    %list-nav-icon{background: url(../../images/icons/list-icon.png) no-repeat center;}
    .header-top-left, .header-top-right {
        text-align: center;
    }
    .main-search{
        width: auto;
        margin-top: 20px;
    }
    .navbar-brand{
        float: left;
    }
    .navbar-nav > li{
    display:block;
    }
    .navbar > p {
        display: block;
    }
    #menu{
        height:auto;
        text-align: left;
    }
    .navbar-collapse {
    width: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.92);
    top: 50px;
    left: 0;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        .list-icon{
            display: inline-block;
            width: 40px;
            height: 20px;
            @extend %list-nav-icon;
        }
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        z-index:3;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .mega-dropdown-menu, #menu .dropdown-menu {
        position: relative;
        width: 100%;
        top: 100%;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #menu > li > a{
        padding: 10px 18px;
    }
    .collapse.in {
        display: block !important;
    }
    .main-banner .owl-dots {
        bottom: 0;
    }
    #category-menu-responsive {
        display: none;
    }
    #category-menu {
        display: none !important;
    }
    .left_banner {
        display: none;
    }
    .three-col-work .grid-item, .three-col-blog .blog-item, .two-col-work .grid-item, .two-col-blog .blog-item, .four-col-work .grid-item {
        width: 100%;
    }
    // .product-thumb .button-group {
    //     bottom: -21px;
    //     left: 0;
    //     opacity: 0;
    //     right: 0;
    //     top: auto;
    //     transition: all 0.6s ease 0s;
    // }
    // .product-thumb:hover .button-group{
    //     left: 0;
    //     right: 0;
    // }
    // .product-thumb .button-group .wishlist, .product-thumb .button-group .quickview, .product-thumb .button-group .compare, .product-thumb .button-group .add-to-cart{
    //     display: inline-block;
    //     height: 34px;
    //     margin: -1px;
    //     width: 34px;
    // }
    .caption.product-detail{
        margin-top: 25px;
    }
    #Blog .post-info{
        position: relative;
    }
    #Blog .post-info > p, .write-comment a, .read-more a{
        color: #494b4c;

    }
    .blog .thumb:hover .post-image-hover{
        background:transparent;
    }
    .view-blog{
        border-color: #ccc; 
    }
    .newsletter-popup-top {
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .newsletter-popup-top .popup-desc {
        padding: 10px 0;
    }
    .offer {
        width: 45%;
        float: left;
    }
    .newsletter-popup .popup-title span {
        margin-left: 0;
    }
    .newsletter-popup .popup-title {
        font-size: 50px;
    }
    .newsletter-popup {
        margin: 30px;
        width: auto;
    }
    .newsletters div.news-form.pull-right {
        float: left !important;
        margin: 10px 0 0;
    }
    .newsletters input {
        width:auto;
    }
    .Testimonial {
        margin-top: 50px;
    }
    .payment-icon, .copyright-part, .social_icon {
        text-align: center;
    }
    .copyright-part{
        margin: 10px 0;
    }
}

/*-----------------------------------*/

@media (max-width:650px) {
    .logo {
        margin-left: 50px;
    }
    .logo a {
        padding: 10px 0 10px 10px;
    }
    .cms_banner>div {
        width: 100%;
        margin: 0;
    }

    #subbanner1, #subbanner2, #subbanner4, #subbanner5 {
        float: left;
        margin: 10px;
        width: 45%;
    }
}

/*-----------------------------------*/

@media (max-width:480px) {

    .navbar-header,.shopcart {
        width: 100%;
        text-align: center;
    }
    .navbar-brand, .header-right {
        width: 100%;
    }
    .navbar-brand>img {
        display: inline-block;
    }
    #cart > .btn{
        float: none;
    }
    .navbar-header {
        margin: 0;
    }
    .header-right.pull-right.mtb_50 {
        margin: 0 0 20px;
    }
    #subbanner1, #subbanner2, #subbanner4, #subbanner5{
        width: auto;
    }

    .bannertext>h2 {
        font-size: 16px;
    }
    .bannertext>p {
        font-size: 14px;
        line-height: 1;
    }

    .product-layout.product-list .image.product-imageblock {
        width: 100%;
    }
    .category-page-wrapper>div {
        width: 100%;
    }
    .footer .form-group .btn {
        float: none;
        margin-left: 0;
    }
    .newsletter-popup {
        padding: 25px;
    }
    .offer {
        display: none;
    }
    .newsletter-popup .popup-title span {
        margin: 0;
    }
    .newsletter-popup .popup-title {
        font-size: 40px;
    }
    .newsletter-popup-top .popup-desc, .newsletter-popup {
        text-align: center;
    }
    .newsletter-popup-top .btn-default, .newsletter-popup-top .btn-default:hover, label.checkme, .newsletter-popup-top,
    .newsletter-popup .popup-title {
        float: none;
    }
    .newsletter-popup-top {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .newsletters input {
        width: 310px;
    }
}

@media (max-width:360px) {
    .header-top-left li, .header-top-right li {
        padding: 0 10px;
    }
    .nav>li>a {
        padding: 6px;
    }
    .newsletters input {
    width: 150px;
    }
}
    /* =====  END RESPONSIVE CSS  =====*/