@charset 'utf-8';
.navbar-brand>img{
    background: none;
}
#menu > li > a{
    padding: 15px 40px;
    font-size: 16px
}
.home-about-content{
    line-height: 40px;
    text-indent: 20px;
    font-size: 18px;
    .seeMore{
        margin-left: 20px;
        color: #e40001;
        &:hover{
            text-decoration: underline;
        }
    }
}
.owl-carousel .owl-item img{
	object-fit: cover;
}
.brand .item>a>img, 
.brand .item>img, 
.brand .img-responsive, 
.brand .thumbnail a>img, 
.brand .thumbnail>img{
	height: auto;
}
.brand  .owl-item .item a{
	display: table-cell;
	height: 260px;
	vertical-align: middle;
}
.main-search{
    .btn-lg{
        .search-icon{
            display: inline-block;
            width: 16px;
            height: 16px;
            @extend %white-search;
            &:hover{
                @extend %red-search;
            }        
        }
    }
}
.scrollup{
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 99;
    display: inline-block;
    width: 40px;
    height: 40px;
    @extend %arrow-up;
    background-color: #e40001;
}
.product-thumb .price{
    margin-top: 10px;
    padding: 6px 13px;
    border: 1px solid #e40001;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #e40001;
    &:hover{
        background: #e40001;
        color: #fff;
    }
}
.header-top-left .contact {
    >a{
        margin-right: 20px;
    }
    span{
        font-weight: 400;
    }
}
.company-name{
	margin-top: 20px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
.product-layout{
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		object-fit: cover;
		margin: 0 auto;
	}
}
.contactWays, .contact .address, .query-icon{
    span{
        display: inline-block;
        width: 22px;
        height: 30px;
        margin-right: 10px;
        vertical-align: middle;
    }
}
.contact .address, .query-icon{
    .whatsapp-icon{
        filter: invert(60%);
    }    
    span{
        filter: invert(68%);
    }
}
.tel-icon{
    @extend %tel-icon;
}
.wechat-icon{
    @extend %wechat-icon;
}
.whatsapp-icon{
    @extend %whatsapp-icon;
}
.email-icon{
    @extend %email-icon;
}

.detail-content{
    margin: 20px 0;
    font-size: 20px;
    color: #333;
    line-height: 40px;
    .content-item{
        span{
            display: inline-block;
            width: 130px;
            text-align: right;
            font-weight: bold;
        }
    }
}

// 媒体查询
@media only screen and (min-width: 768px){
    .header-top-left{
        .contact{
            white-space: nowrap;
            >a{
                span{
                    margin-right: 5px;
                }
            }
        }
    }
    .navbar-brand{
        padding: 20px 0;
        >img{
            width: 150px;
        }
        .logo-name{
            margin-left: 0;
            font-size: 16px;
        }
    }
    .main-search{
        margin-top: 35px;
    }
    #menu>li>a{
        padding: 15px 22px;
    }
    .footer {
        padding-top: 40px;
        .container {
            &:last-child{
                margin-top: 40px;
            }
        }
        
    }
    .footer-bottom{
        margin-top: 40px;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
	.header-top{
		.row, .container{
			padding: 0;
        }
        .col-xs-9{
            padding: 0;
            width: 81%;
        }
        .col-xs-3{
            padding: 0;
            width: 19%;
        }
	}
	.header-top-left, .header-top-right{
        text-align: right;
    }
    .header-top-left{
        text-align: left;
        .contact>a{
            display: none;
            margin-left: 10px;
            // &:last-child{
            //     display: none;
            //     margin-left: 0;
            // }
        }
    }
    .navbar-brand{
        padding: 15px 0;
        >img{
            width: 150px;
        }
        .logo-name{
            margin-left: 0;
            font-size: 16px;
        }
	}
	.main-search {
		width: 100%;
		margin-bottom: 10px;
		margin-top: 0;
	}
	.owl-carousel .owl-item img{
		height: auto;
	}
	#product-tab .heading-part{
		margin-bottom: 10px;
	}
	#product-tab .product-thumb{
		margin-bottom: 0;
	}
	.home-about-content{
		line-height: 28px;
		font-size: 14px;
	}
	.caption.product-detail{
		margin-top: 0;
		padding-top: 10px;
	}
	.product-thumb .price{
		padding: 3px 10px;
		font-size: 12px;
	}
	.main_title{
		font-size: 16px;
	}
	.footer{
		padding-top: 0;
		margin-top: 10px;
	}
	.footer .col-xs-2{
		padding: 0;
	}
	.footer h6, .footer-title{
		font-size: 12px;
	}
	.contactWays{
		margin-top: 0;
		padding-bottom: 20px;
        font-size: 12px;
	}
	.footer-bottom{
		margin: 0;
		padding: 0;
		font-size: 12px;
		.copyright-part{
			margin: 0;
		}
	}
	.footer-block a{
        display: block;
        font-size: 14px;
    }
    // 关于我们
    .company-logo{
        display: none;
    }
    .brandlogo{
        .col-sm-3{
            width: 50%;
        }
        a{
            float: left;
        }
    }
    // 联络我们
    .contact {
        .mb_50{
            margin-bottom: 15px;
        }
        .mb_20{
            margin-bottom: 5px;
        }
    }
    .contact-form{
        .btn{
            width: 100%;
        }
    }
    .detail-content{
        margin: 10px 0;
        font-size: 16px;
        line-height: 30px;
        .content-item{
            span{
                display: inline-block;
                width: 130px;
            }
        }
    }
    .errorPage .error-img{
        width: 100%;
    }
    .errorPage .text{
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 992px) {
    .company-logo{
        width: 26%;
    }
    .company-intro{
        width: 74%;
    }
}